.section {
  background-color: var(--color-bcg);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 0;
  border-bottom: 2px solid var(--color-betweenLine);
  border-top: 5px solid var(--color-betweenLine);
  padding: 20px 0px 20px 0px;
}

.section__title {
  margin: 0;
  word-break: normal;
  align-self: start;
  margin: 0px 0px 20px;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .section {
    flex-direction: column;
  }

  .section__title {
    align-self: start;
    margin-bottom: 20px;
  }
}
