.form {
  background-color: var(--color-bcg);
  display: flex;
  gap: 10px;
  align-self: stretch;
  border-top: 2px solid var(--color-betweenLine);
  padding: 20px 20px 0 20px;
}

.form__input {
  flex-grow: 1;
  padding: 8px;
  border: 2px solid var(--color-betweenLine);
}

.form__input:focus {
  border: 2px solid black;
  outline: none;
}

.form__button {
  background-color: teal;
  border: none;
  color: var(--color-bcg);
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form__button:hover {
  transform: scale(1.03);
  background-color: #20b2aa;
}

@media (max-width: 767px) {
  .form {
    flex-direction: column;
    align-items: stretch;
  }
}
