.buttons {
  display: flex;
  flex-grow: 1;
  gap: 10px;
  justify-content: flex-end;
  align-self: end;
  padding: 0 20px;
}

.button__item {
  background-color: transparent;
  border: none;
  color: teal;
  cursor: pointer;
  transition: color 0.2s ease;
}

.button__item:hover {
  color: #20b2aa;
}

.button__item--disabled {
  color: #bbb;
}

.button__item--disabled:disabled {
  color: #bbb;
  cursor: auto;
}

@media (max-width: 767px) {
  .buttons {
    flex-direction: column;
    align-self: normal;
  }
}
